.image-height{
    height: 400px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}
.text{
    position: absolute;
    /* transform: translate(50%, -50%); */
    right: 0;
    left: 0;
    margin-bottom: 20px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 5px;
}
.heading-text{
    position: relative;
}
.fs-1{
font-size: 80px;
}

.slide-in-left {
    animation: slide-in-left 5s 1;
    -moz-animation: slide-in-left 5s 1;
    -webkit-animation: slide-in-left 5s 1;
    -o-animation: slide-in-left 5s 1;
    border-radius: 5px;
}
@keyframes slide-in-left {
    0% {
        transform: rotate(0deg);
        left: 0px;
    }
    25% {
        transform: rotate(20deg);
        left: 0px;
    }
    50% {
        transform: rotate(0deg);
        left: 500px;
    }
    55% {
        transform: rotate(0deg);
        left: 500px;
    }
    70% {
        transform: rotate(0deg);
        left: 500px;
        background: #1ec7e6;
    }
    100% {
        transform: rotate(-360deg);
        left: 0px;
    }
}




.hero{
    width: 100%;
    min-height: 100%;
   background: #000;
    padding: 10px 10px;
    margin-top: 70px;
  
}
.content{
text-align: center;
padding: 20px 50px;
 color: white;
}
.btn{
    padding: 10px 36px;
    color: darkblue;
    background-color: white;
    border-radius: 30px;
    display: inline-block;
    animation: backwards;
    font-size: 20px;
} 
.heading3{
    color: white;
     font-size: 50px;
     font-family: sans-serif;
     font-weight: 700;
}
.para{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    animation-direction: reverse;

}
.text-white{
    font-size: 20px;
}
.footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  
    bottom: 0;
    width: 100%;
    
}
.my-4 {
    margin-top: 4.375rem!important;
    margin-bottom: 2.188rem!important;
}
.py-2 {
    padding-top: 2.188rem!important;
    padding-bottom: 4.375rem!important;
}
.WEBDEVELOPMENT{
    font-size: 50px;
    font-family: sans-serif;
    color: white;
    font-weight: 700;
}